// COLOR SWATCH SITE-WIDE
$atlas-yellow: #F1CB6D;
$atlas-red: #f15e75;
$atlas-teal: #57a2aa;
$atlas-grey: #3d3d52;
$atlas-blue: #677db7;
$atlas-purp:#5d71a8;
$atlas-dpurp:#3c496f;
$atlas-black: #25252f;


header{
  // background-color: grey;
  outline: 2px solid black;
  margin: 0;
  padding: 4px;
}

.logo-container{
  width: 100%;
  max-width: 960px;
  padding: 2px;
  margin: 5px;
}

#atlas-logo{
  background: white;
  text-align: left;
  border: 2px solid $atlas-grey;
  outline: 2px solid white;
  display: block;
  max-width: 225px;
}


h1{
  max-width: 225px;
  line-height: 100%;
  margin: 0 auto;
  color: #3d3d52;
  display: inline-block;
}

.shape-holder{
  display: block;
  // padding: 1px;
  position: relative;
  max-width: 100%;
  position: relative;
  background: $atlas-grey;
  line-height: 2px;
  text-align: center;
  margin: 0 auto;
}

#parallelogram {
  display: inline-block;
  position: inherit;
  margin:0 auto;
	width: 15%;
	height: 20px;
	-webkit-transform: skew(-40deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(30deg);
	background: $atlas-blue;
}

#parallelogram2 {
  display: inline-block;
  // position:fixed;
  margin:0 auto;
	width: 15%;
	height: 20px;
	-webkit-transform: skew(-40deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(30deg);
	background: $atlas-yellow
}

#parallelogram3 {
  display: inline-block;
  // position:fixed;
  margin:0 auto;
	height: 20px;
	width: 15%;
	-webkit-transform: skew(-40deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(30deg);
	background: $atlas-teal
}

#parallelogram4 {
  display: inline-block;
  // position:fixed;
  margin:0 auto;
	width: 15%;
	height: 20px;
	-webkit-transform: skew(-40deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(30deg);
	background: $atlas-red
}

.greeting-container{
  margin: 0 auto;
  display:block;
  height: 10%;
  background: $atlas-teal
}

#welcome-greeting{
  color:black;
  font-weight: 700;
}

@media screen and (max-width: 500px){
  body{
    transition: .5 all ease-out;
    background: #25252f;
  }
  #atlas-logo{
    background: #25252f;
  }
 }
