.shop{
  padding: 10px;
  
}
.shop-container{
  // background: #F15E75;
  overflow-y: scroll;
  padding: 20px;
  max-width: 650px;
  width: 55%;
  outline: 2px solid black;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  bottom: 280px;
}
.product-box{
  // background: lightgray;
  display: inline-block;
  align-content: center;
  // outline: 1px solid black;
  position: relative;
  padding: 4px;
  margin: 6px 2px;
  padding: 4px;
  max-width: 30%;
  min-width: 10%;
  height: auto;
}

.product-box:hover{
  background: #cccbcb;
  transition: .4s all ease-out;
}

.product-photo{
  outline: 2px solid white;
  background: #3d3d52;
  position: relative;
  margin: 2px auto;
  max-width:95%;
  min-width:70%;
  height: auto;
  display: inline-block;
  padding: 2px;
}

.product-photo:hover{
  transition: .2s all ease-out;
  outline: 2px solid #3d3d52;
}

.rotated{
  transform: rotate(90deg);
}

.prod-thing{
  display: block;
  text-align: center;
  padding: 1px 2px;
  max-width: 80%;
  min-width: 50%;
  margin: 1px auto;
  outline: 1px solid black;
  background: #57A2AA;
}

.prod-thing p{
  color: #448087;
  font-size: .50em;
  font-weight: 700;
  margin: 0;
}

.prod-thing p:hover{
  transition: .2s all ease-out;
  color: white;
}


.add-btn{
  background: #57A2AA;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  color:white;
  font-weight: 700;
  padding: 3px;
}

.add-btn:hover{
  background-color: white;
  color:#448087;;
  // font-style: italic;
  font-weight: 700;
  transition: .2s all ease-out;
}

@media screen and (max-width: 500px){
  .shop-container{
    transition: .3s all ease-out;
    background: #57A2AA;
    position: relative;
    align-items: center;
    padding: 10px;
    bottom: 20px;
  }

}
