.products-container{
  background-color: grey;
  display: inline-block;
  padding: 21px 4px;
  width: 100%;
  max-width: 120px;
}

.product-img{
  height: 100px;
  width: auto;
}
.rotated{
  transform: rotate(90deg);
}
