// COLOR SWATCH SITE-WIDE
$atlas-yellow: #F1CB6D;
$atlas-red: #f15e75;
$atlas-teal: #57a2aa;
$atlas-grey: #3d3d52;
$atlas-blue: #677db7;
$atlas-purp:#5d71a8;
$atlas-dpurp:#3c496f;
$atlas-black: #25252f;


@media screen and (max-width: 500px){
 .site-nav{
   display: none;
 }
}

.site-nav{
  outline: 2px solid black;
  background-color: white;
  overflow: auto;
  width: 15%;
  text-align: left;
  margin: 2px;
  margin-right: 10px;
}

.site-nav{ 
    ul {
    position: relative;
    list-style: none;
    text-decoration: none;
    padding: 4px;
    line-height: 35px
    // line-height: 60px;
  }
}

.nav-link{
  font-size: 1.2rem;
  line-height: 4px;
  text-decoration: none; 
  font-weight: 600;
  color: #3d3d52;
  margin: 6px;
  margin-top: 6px;
}


#home-link:hover{
  padding: 10px;
  margin: 4px;
  background-color: $atlas-red;
  color: white;
  transition: .2s all ease-out;
  // box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

#about-link:hover{
  padding: 8px;
  margin: 2px;
  background-color: $atlas-yellow;
  color: white;
  transition: .2s all ease-out;
}

#blog-link:hover {
  padding: 8px;
  margin: 4px;
  background-color: $atlas-teal;
  color: white;
  transition: .2s all ease-out;
}

#favorites-link:hover {
  padding: 8px;
  margin: 4px;
  background-color: $atlas-grey;
  color: white;
  transition: .2s all ease-out;
}

#cart-link:hover {
  padding: 8px;
  margin: 4px;
  background-color: $atlas-blue;
  color: white;
  transition: .2s all ease-out;
}

#no-cart-link:hover {
  transition: .3s all ease-out;
  padding: 10px;
  margin: 2px;
  background-color: $atlas-red;
  color: #000000;
}

.login-link:hover {
  padding: 10px;
  margin: 4px;
  background-color: #000000;
  color: $atlas-red;
  transition: .2s all ease-out;
}

