body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
header {
  outline: 2px solid black;
  margin: 0;
  padding: 4px; }

.logo-container {
  width: 100%;
  max-width: 960px;
  padding: 2px;
  margin: 5px; }

#atlas-logo {
  background: white;
  text-align: left;
  border: 2px solid #3d3d52;
  outline: 2px solid white;
  display: block;
  max-width: 225px; }

h1 {
  max-width: 225px;
  line-height: 100%;
  margin: 0 auto;
  color: #3d3d52;
  display: inline-block; }

.shape-holder {
  display: block;
  position: relative;
  max-width: 100%;
  position: relative;
  background: #3d3d52;
  line-height: 2px;
  text-align: center;
  margin: 0 auto; }

#parallelogram {
  display: inline-block;
  position: inherit;
  margin: 0 auto;
  width: 15%;
  height: 20px;
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(30deg);
  background: #677db7; }

#parallelogram2 {
  display: inline-block;
  margin: 0 auto;
  width: 15%;
  height: 20px;
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(30deg);
  background: #F1CB6D; }

#parallelogram3 {
  display: inline-block;
  margin: 0 auto;
  height: 20px;
  width: 15%;
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(30deg);
  background: #57a2aa; }

#parallelogram4 {
  display: inline-block;
  margin: 0 auto;
  width: 15%;
  height: 20px;
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(30deg);
  background: #f15e75; }

.greeting-container {
  margin: 0 auto;
  display: block;
  height: 10%;
  background: #57a2aa; }

#welcome-greeting {
  color: black;
  font-weight: 700; }

@media screen and (max-width: 500px) {
  body {
    transition: .5 all ease-out;
    background: #25252f; }

  #atlas-logo {
    background: #25252f; } }
@media screen and (max-width: 500px) {
  .site-nav {
    display: none; } }
.site-nav {
  outline: 2px solid black;
  background-color: white;
  overflow: auto;
  width: 15%;
  text-align: left;
  margin: 2px;
  margin-right: 10px; }

.site-nav ul {
  position: relative;
  list-style: none;
  text-decoration: none;
  padding: 4px;
  line-height: 35px; }

.nav-link {
  font-size: 1.2rem;
  line-height: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #3d3d52;
  margin: 6px;
  margin-top: 6px; }

#home-link:hover {
  padding: 10px;
  margin: 4px;
  background-color: #f15e75;
  color: white;
  transition: .2s all ease-out; }

#about-link:hover {
  padding: 8px;
  margin: 2px;
  background-color: #F1CB6D;
  color: white;
  transition: .2s all ease-out; }

#blog-link:hover {
  padding: 8px;
  margin: 4px;
  background-color: #57a2aa;
  color: white;
  transition: .2s all ease-out; }

#favorites-link:hover {
  padding: 8px;
  margin: 4px;
  background-color: #3d3d52;
  color: white;
  transition: .2s all ease-out; }

#cart-link:hover {
  padding: 8px;
  margin: 4px;
  background-color: #677db7;
  color: white;
  transition: .2s all ease-out; }

#no-cart-link:hover {
  transition: .3s all ease-out;
  padding: 10px;
  margin: 2px;
  background-color: #f15e75;
  color: #000000; }

.login-link:hover {
  padding: 10px;
  margin: 4px;
  background-color: #000000;
  color: #f15e75;
  transition: .2s all ease-out; }

.shop {
  padding: 10px; }

.shop-container {
  overflow-y: scroll;
  padding: 20px;
  max-width: 650px;
  width: 55%;
  outline: 2px solid black;
  position: relative;
  display: inline-block;
  margin: 0 auto;
  bottom: 280px; }

.product-box {
  display: inline-block;
  align-content: center;
  position: relative;
  padding: 4px;
  margin: 6px 2px;
  padding: 4px;
  max-width: 30%;
  min-width: 10%;
  height: auto; }

.product-box:hover {
  background: #cccbcb;
  transition: .4s all ease-out; }

.product-photo {
  outline: 2px solid white;
  background: #3d3d52;
  position: relative;
  margin: 2px auto;
  max-width: 95%;
  min-width: 70%;
  height: auto;
  display: inline-block;
  padding: 2px; }

.product-photo:hover {
  transition: .2s all ease-out;
  outline: 2px solid #3d3d52; }

.rotated {
  transform: rotate(90deg); }

.prod-thing {
  display: block;
  text-align: center;
  padding: 1px 2px;
  max-width: 80%;
  min-width: 50%;
  margin: 1px auto;
  outline: 1px solid black;
  background: #57a2aa; }

.prod-thing p {
  color: #448087;
  font-size: .50em;
  font-weight: 700;
  margin: 0; }

.prod-thing p:hover {
  transition: .2s all ease-out;
  color: white; }

.add-btn {
  background: #57a2aa;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  color: white;
  font-weight: 700;
  padding: 3px; }

.add-btn:hover {
  background-color: white;
  color: #448087;
  font-weight: 700;
  transition: .2s all ease-out; }

@media screen and (max-width: 500px) {
  .shop-container {
    transition: .3s all ease-out;
    background: #57a2aa;
    position: relative;
    align-items: center;
    padding: 10px;
    bottom: 20px; } }
.about-container {
  background-color: #F1CB6D;
  position: relative;
  width: 100%;
  margin: 0 auto; }

.about-atlas-logo h1 {
  font-size: 3rem; }

.blog-container {
  background-color: #57a2aa;
  position: relative;
  width: 100%;
  margin: 0 auto; }

.blog-atlas-logo h1 {
  font-size: 3rem; }

.favorites-container {
  position: relative;
  background-color: #3d3d52;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
  bottom: 150px; }

.favorites-atlas-logo h1 {
  color: white;
  background: #3d3d52;
  font-size: 3rem; }

.somethin {
  height: 150px;
  width: 200px;
  background: lightcoral; }

.cart-container {
  background-color: #F1CB6D;
  outline: solid black 2px;
  position: relative;
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 6px;
  width: 90%;
  max-width: 400px;
  bottom: 250px;
  text-align: left; }

.cart-header {
  margin: 1px;
  font-size: 3rem; }

.image-container {
  background-color: #5d71a8;
  outline: 2px solid black;
  width: 80%;
  max-width: 90%;
  height: auto;
  margin: 1rem auto;
  padding: 4px; }

.product-img {
  outline: 2px solid #3c496f;
  position: relative;
  width: 60%;
  max-width: 62%;
  margin: 0 auto;
  height: auto;
  display: inline-block;
  padding: 2px; }

.product-img:hover {
  transition: .3s all ease-out;
  background: #F1CB6D;
  outline: 2px solid #3c496f;
  box-shadow: 0 4px 10px 0 #00000063, 0 0 0 1px #00000014;
  width: 62%; }

.cart-description {
  margin: 0 1px;
  font-weight: 700;
  font-size: 2rem;
  color: #F1CB6D;
  background-color: #5d71a8;
  outline: 2px solid #3c496f; }

.cart-description:hover {
  transition: .3s all ease-out;
  color: #5d71a8;
  background-color: #F1CB6D; }

.cart-price {
  background-color: #5d71a8;
  color: #F1CB6D;
  outline: 2px solid #3c496f;
  margin: 1px;
  margin-top: 3px;
  font-size: 1.5rem;
  font-weight: 700; }

.cart-price:hover {
  transition: .3s all ease-out;
  color: #5d71a8;
  background-color: #F1CB6D; }

.cart-qty {
  background-color: #5d71a8;
  color: #F1CB6D;
  outline: 2px solid #3c496f;
  margin: 1px;
  margin-top: 3px;
  font-weight: 700;
  font-size: 1.4rem; }

.cart-qty:hover {
  transition: .2s all ease-out;
  color: #5d71a8;
  background-color: #F1CB6D;
  font-size: 1.5em; }

.cart-input {
  margin: 4px;
  display: inline-block; }

.add-bttn {
  background: #5d71a8;
  outline: 1px solid #5d71a8;
  position: relative;
  display: block;
  text-align: left;
  max-width: 100%;
  width: 100%;
  color: #3c496f;
  font-weight: 700;
  font-size: .8rem;
  padding: 3px; }

.add-bttn:hover {
  color: #F1CB6D;
  position: static;
  font-weight: 700;
  transition: .3s all ease-out; }

@media screen and (max-width: 500px) {
  .cart-container {
    background: #5d71a8;
    transition: .4s all ease-out;
    position: relative;
    align-items: center;
    padding: 10px;
    bottom: 20px; }

  .image-container {
    background: #F1CB6D; } }
.product-container {
  background: #F1CB6D;
  outline: solid black 2px;
  position: relative;
  display: block;
  margin: 10px auto;
  bottom: 290px;
  padding: 20px;
  height: 20%;
  width: 40%;
  text-align: left; }

.product-container:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.description-container {
  position: relative;
  margin: 5px auto;
  width: 70%;
  height: 90%;
  padding: 2px; }

.product-foto {
  position: relative;
  width: 70%;
  max-width: 75%;
  margin: 0 auto;
  height: auto;
  display: inline-block;
  padding: 2px;
  outline: 2px solid #3c496f; }

.product-foto:hover {
  transition: .1s all ease-out;
  outline: 2px solid white;
  box-shadow: 0 4px 10px 0 #00000063, 0 0 0 1px #00000014;
  width: 75%; }

.product-description {
  margin: 0 1px;
  font-weight: 700;
  font-size: 2rem;
  color: #F1CB6D;
  background-color: #5d71a8;
  outline: 2px solid #3c496f; }

.product-description:hover {
  transition: .3s all ease-out;
  background-color: #F1CB6D;
  outline: 2px solid #80682d;
  color: #5d71a8; }

.product-price {
  background-color: #5d71a8;
  color: #F1CB6D;
  outline: 2px solid #3c496f;
  font-size: 1.9rem;
  margin: 1px;
  margin-top: 3px;
  font-weight: 700; }

.product-price:hover {
  transition: .2s all ease-out;
  color: #5d71a8;
  background-color: #F1CB6D;
  outline: 2px solid #80682d; }

.product-blurb {
  color: #f1cc6da9;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1px;
  margin: 0 auto;
  text-align: left; }

.product-blurb:hover {
  transition: .3s all ease-out;
  color: #5d71a8; }

/*# sourceMappingURL=index.css.map */
